@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
html::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
html::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
html::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
html::-webkit-scrollbar-track:hover,
html::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
